In [2]:
import pandas as pd
import datetime
import seaborn as sns

In [3]:
url = '/home/max/Analyse_Data/sales.csv'

In [4]:
df = pd.read_csv(url, sep=';')

In [5]:
df.reset_index(drop=True, inplace=True)

In [6]:
df.drop(columns='Id', inplace=True)

In [7]:
df.date = pd.to_datetime(df['date'], unit='ms')

In [8]:
df['month'] = df.date.dt.month

In [9]:
count_kf = df.query("branch == 'Купи Флакон' and month == 1 and t_c != 'Самовывоз'")\
.groupby('date', as_index=False)\
.agg({"order_count": "sum"}).sort_values("order_count", ascending=False)

In [10]:
count_mp = df.query("branch == 'Маркетплейс' and month == 1")\
.groupby('date', as_index=False)\
.agg({"order_count": "sum"}).sort_values("order_count", ascending=False)

In [36]:
round(count_mp.order_count.sum() / df.order_count.sum() * 100, 0)

38.0

In [37]:
round(count_kf.order_count.sum() / df.order_count.sum() * 100, 0)

42.0

In [13]:
count_mp_kf = df.query("month == 1")\
.groupby('date', as_index=False)\
.agg({"order_count": "sum"}).sort_values("order_count", ascending=False)

In [44]:
count_mp_kf = count_mp_kf.order_count.sum()

In [45]:
count_kf = count_kf.order_count.sum()

In [46]:
count_mp = count_mp.order_count.sum()

In [17]:
pickup = df.query("t_c == 'Самовывоз' and month == 1").order_count.sum()

In [18]:
pickup

61

In [19]:
df.head()

,date,order_number,place,t_c,order_count,branch,month
0,2024-01-09,79077,1,Boxberry,1,Купи Флакон,1
1,2024-01-09,79095,1,Почта России,1,Купи Флакон,1
2,2024-01-09,79086,1,Boxberry,1,Купи Флакон,1
3,2024-01-09,79065,1,Boxberry,1,Купи Флакон,1
4,2024-01-09,79087,1,Boxberry,1,Купи Флакон,1

In [30]:
new = df[["date", "order_number", "t_c", "branch"]].query("branch == 'Купи Флакон'")

In [32]:
pivot = new.pivot_table(index="t_c", columns="date", values="order_number", aggfunc="count").fillna(0).astype(int)

In [56]:
sns.lineplot(data=count_kf)

TypeError: object of type 'numpy.int64' has no len()