In [7]:
import pandas as pd
import datetime
import seaborn as sns

In [8]:
url = '/storage/emulated/0/Analyse_Data/sales.csv'

In [9]:
df = pd.read_csv(url, sep=';')

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
df.drop(columns='Id', inplace=True)

In [12]:
df.date = pd.to_datetime(df['date'], unit='ms')

In [13]:
df['month'] = df.date.dt.month

In [14]:
count_kf = df.query("branch == 'Купи Флакон' and month == 1 and t_c != 'Самовывоз'")\
.groupby('date', as_index=False)\
.agg({"order_count": "sum"}).sort_values("order_count", ascending=False)

In [15]:
count_mp = df.query("branch == 'Маркетплейс' and month == 1")\
.groupby('date', as_index=False)\
.agg({"order_count": "sum"}).sort_values("order_count", ascending=False)

In [16]:
round(count_mp.order_count.sum() / df.order_count.sum() * 100, 2)

37.68

In [17]:
round(count_kf.order_count.sum() / df.order_count.sum() * 100, 2)

41.74

In [18]:
count_mp_kf = df.query("month == 1")\
.groupby('date', as_index=False)\
.agg({"order_count": "sum"}).sort_values("order_count", ascending=False)

In [19]:
count_mp_kf.order_count.sum()

335

In [20]:
count_kf.order_count.sum()

144

In [21]:
count_mp.order_count.sum()

130

In [22]:
pickup = df.query("t_c == 'Самовывоз' and month == 1").order_count.sum()

In [23]:
pickup

61

In [24]:
df.head()

,date,order_number,place,t_c,order_count,branch,month
0,2024-01-09,79077,1,Boxberry,1,Купи Флакон,1
1,2024-01-09,79095,1,Почта России,1,Купи Флакон,1
2,2024-01-09,79086,1,Boxberry,1,Купи Флакон,1
3,2024-01-09,79065,1,Boxberry,1,Купи Флакон,1
4,2024-01-09,79087,1,Boxberry,1,Купи Флакон,1

In [43]:
df.query("month == 1 and branch == 'Купи Флакон'")\
.groupby("t_c")\
.agg({"order_count": "count"})

               order_count
t_c
Boxberry                28
DPD                     39
Деловые линии            6
Озон                     1
ПЭК                      7
Почта России            16
Самовывоз               61
Сдек                    47